version: '3.0'

services:
    pong:
        image: pong:0.2 
        restart: on-failure
        volumes:
            - ./:/app
        depends_on:
            - mysql
            - redis
        networks:
            pong-net:
                aliases:
                    - pong

    nginx:
        image: nginx:1.16
        restart: always
        volumes:
            - ./static:/pong/static
            - ./conf/nginx:/etc/nginx/conf.d
        ports:
            - 80:80
            - 443:443
        depends_on:
            - pong
        networks:
            pong-net:
                aliases:
                    - nginx

    mysql:
        image: mysql:8.0
        command: --default-authentication-plugin=mysql_native_password
        restart: on-failure
        volumes:
            - ./data:/var/lib/mysql
            - ./conf/mysql:/docker-entrypoint-initdb.d
        environment:
            MYSQL_ROOT_PASSWORD: root
        networks:
            pong-net:
                aliases:
                    - mysql
    redis:
        restart: on-failure 
        image: redis:4.0
        networks:
            pong-net:
              aliases:
                  - redis

networks:
    pong-net:
        driver: bridge
