version: '3.0'

services:
    #pong online server
    pong:
        image: pong:0.0.1
        restart: on-failure
        volumes:
            - ./:/app
        ports:
            - 8080:8080
        depends_on:
            - mysql
            - redis
        networks:
            pong-net:
                aliases:
                    - pong

    #database for leaderboard
    mysql:
        image: mysql:8.0
        command: --default-authentication-plugin=mysql_native_password
        restart: on-failure
        volumes:
            - ./data:/var/lib/mysql
        environment:
            MYSQL_ROOT_PASSWORD: root
        networks:
            pong-net:
                aliases:
                    - mysql
    redis:
        restart: on-failure 
        image: redis:4.0
        networks:
            pong-net:
              aliases:
                  - redis

networks:
    pong-net:
        driver: bridge
