version: '3.0'

services:
    pong:
        image: pong:latest
        restart: on-failure
        volumes:
            - ./:/app
        ports:
            - 8080:8080
        depends_on:
            - mysql
        networks:
            pong-net:
                aliases:
                    - pong

    mysql:
        image: mysql:latest
        restart: on-failure
        volumes:
            - ./data:/var/lib/mysql
        networks:
            pong-net:
                aliases:
                    - mysql

networks:
    pong-net:
        driver: bridge
