@font-face {
    font-family: "Diary of an 8-bit mage";
    src: url("/static/fonts/8bit.otf")
}

body {
	background-color: black;
    overflow: hidden;
}

#wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
}

.header {
    position: absolute;
    width: 100%;
    top: 15px;
}

.menu {
    right: 35px;
    position: absolute;
}

.menu_btn {    
    font-family: sans-serif;
    background: none;
    color: white;
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    margin: 3px;
    padding-bottom: 7px;
    border-style: solid;
    border-color: white;
    border-width: 0px 0px 0px 0px;
}

.menu_btn:hover {
    border-width: 0px 0px 2px 0px;
}

.landing {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    color: white;
    font-size: 100px;
    margin: 50px;
    font-family: "Diary of an 8-bit mage";
}

.start {
    padding: 13px;
    background: none;
    color: white;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    font-size: 45px;
    width: 200px;
    cursor: pointer;
    font-family: "Diary of an 8-bit mage";
}

.start:hover {
    color: black;
    background: white;
}

.footer {
    position: absolute;
    bottom: 50px;
    width: 100%;
}

.gh_link {
    position: absolute;
    right: 35px;
    cursor: pointer;
}

.lang {
    position: absolute;
    left: 15px;
}

.lang_icon {
    cursor: pointer;
    width: 32px;
    padding: 5px;
}

#leaderboard {
    display: none;
}

.auth_window {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: sans-serif;
    background: black;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    width: 350px;
    padding: 15px;
}

.auth_button {
    background: none;
    color: white;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    padding: 10px;
}

#game {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.txt_area {
    resize: none;
    width: 80%;
    border-radius: 4px;
}
