<!DOCTYPE html>
<html>
    <head>
        <title> pong_online </title>
        <link rel="stylesheet" type="text/css" href="/static/css/page.css">
    </head>
    <body>
        <div id="wrapper">
            <div class="header">
                <div class="lang">
                    <img class="lang_icon" src="/static/img/ru.png">
                    <img class="lang_icon" src="/static/img/en.png">
                </div>
                <div class="menu">
                    <button class="menu_btn" onclick="sign_in()"> sign_in </button>
                    <button class="menu_btn" onclick="sign_out()"> sign_out </button>
                    <button class="menu_btn" onclick="sign_up()"> sign_up </button>
                </div>
            </div>
            <div class="landing">
                <div class="title"> pong_online  </div>
                <button class="start" onclick="connect()"> play </button>
            </div>
            <div class="footer">
                <a class="gh_link" href="https://github.com/fibersel/PingPong" target="_blank"><img src="/static/img/gh.png"></a>
            </div>
            
            <div id="leaderboard"></div>

            <div class="auth_window" id="signin_window">
                <form id="signin_form" method="post" action="/user/login">
                    <p> username </p>
                    <p> password </p>
                    <button type="submit" class="auth_button" value="Submit" form="signin_form"> sign_in </button>
                </form>
            </div>

            <div class="auth_window" id="signup_window">
                <form id="signup_form" method="post" action="/user/signup">
                    <p> username </p>
                    <p> password </p>
                    <button type="submit" class="auth_button" value="Submit" form="signup_form"> sign_up </button>
                </form>
            </div>
        
        </div>

        <canvas id="game"></canvas>
        
        <script src="/static/js/jquery-3.4.1.min.js"></script>
        <script src="/static/js/connection.js"></script>
        <script src="/static/js/sc.js"></script>
    </body>
</html>
