<!DOCTYPE html>
<html>
    <head>
       <title>{title}</title>
       <link rel="stylesheet" type="text/css" href="/static/css/page.css">
    </head>
    <body>
    	<div class="landing"  id="main">
    		<img src="/static/img/pong-sheet.png">
    		<img src="/static/img/redmenubg-sheet.png">
    		<div class="button" onclick="connect()">{Multiplayer}</div>
    	</div>
        <canvas id="canvas" style="display:none;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)"></canvas>
       <script src="/static/js/jquery-3.4.1.min.js"></script>
       <script src="/static/js/connection.js"></script>
        <script src="/static/js/sc.js"></script>
    </body>
</html>
