<!DOCTYPE html>
<html>
    <head>
       <title>Ping Pong GaMe</title>
       <link rel="stylesheet" type="text/css" href="../css/page.css">
    </head>
    <body>
    	<div class="landing" id="main">
    		<img src="../img/pong-sheet.png">
    		<img src="../img/redmenubg-sheet.png">
    		<div class="button" onClick="game()">Multiplayer</div>
    	</div>
    	<div class="game" style="visibility: hidden;" id="game">
    		<div id="left"></div>
    		<div id="ball"></div>
    		<div id="right"></div>
    		<center>
    		<span id="scoreleft">0 </span><span id="deli"> : </span><span id="scoreright"> 0</span>
    		<br>
    		<span id="goal">GOAL !!!</span>  
    	</div>
    </body>
    <script src="../js/connection.js"></script>
</html>
